*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;

	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

:root {
	--tomato: hsl(4, 100%, 67%);

	--dark-grey: hsl(234, 29%, 20%);
	--grey: hsl(235, 18%, 26%);
	--light-grey: hsl(231, 7%, 60%);

	--white: hsl(0, 0%, 100%);
}
